h2 {
	margin-top: 2em;
}



.grid article {
 	
 	background-color: #eee;
 	background-size: cover;
}

.grid a {
	color: #000;
	text-decoration: none;
	display: block;
	padding: 0em;
	padding-bottom: 55%;
	border:  1px solid #444;
	position: relative;

}


.grid article img {
	max-width: 100%;
}

.grid .site-title {
	font-size: 1.2em;
	margin: 0;
	background: #555;
	background: rgba(0,0,0,0.7);
	font-weight: 400;
	padding: 0.6em;
	color: #fff;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.grid a:hover .site-title {
	background: #222;
	background: rgba(0,0,0,0.9);
}

.site-title span {
	
	
}



@media screen and (min-width: 30em) {
	.grid {
	 	
	 	display: grid;
	 	grid-template-columns: 1fr 1fr;
	 	grid-gap: 2em;
	 	width: 100%;
	 	
	}
	
	.grid article {
	 	margin: 0;
	}
	
}

@media screen and (min-width: 40em) {
	.grid {
	 	
	 	grid-template-columns: repeat(3, 1fr);
	 	
	}
}

@media screen and (min-width: 60em) {
	.grid {
	 	
	 	grid-template-columns: repeat(4, 1fr);
	 	
	}
}

@media screen and (min-width: 80em) {
	.grid {
	 	
	 	grid-template-columns: repeat(5, 1fr);
	 	
	}
}

@media screen and (min-width: 100em) {
	.grid {
	 	
	 	grid-template-columns: repeat(6, 1fr);
	 	
 	}
}

@media screen and (min-width: 120em) {
	.grid {
	 	
	 	grid-template-columns: repeat(7, 1fr);
	 	
 	}
}

.widget-area {
	margin-top: 3em;
	border-top: 1px solid #ccc;
}
